<div class="view-section">
    <div class="page-header">
        <div class="header-text">
            <h1>Presensi Harian</h1>
            <p>Pendataan absensi berdasarkan Tanggal, Bulan, dan Tahun.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2>Catat Kehadiran</h2>
        </div>
        <div style="padding: 24px;">
            <form id="form-tambah-presensi" class="form-row">
                <div class="form-group" style="flex: 1.5;">
                    <label class="form-label">TANGGAL PRESENSI</label>
                    <input type="date" id="input-tanggal" class="form-control" required>
                </div>
                <div class="form-group" style="flex: 2;">
                    <label class="form-label">NAMA SISWA</label>
                    <input type="text" id="input-nama" class="form-control" placeholder="Ketik nama siswa..." required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="form-label">STATUS</label>
                    <select id="input-status" class="form-control" required>
                        <option value="" disabled selected>Pilih...</option>
                        <option value="Hadir">Hadir</option>
                        <option value="Sakit">Sakit</option>
                        <option value="Izin">Izin</option>
                        <option value="Alpa">Alpa</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><i class="ph ph-plus-circle"></i> Simpan</button>
            </form>
        </div>
    </div>

    <div class="card data-table-card">
        <div class="card-header">
            <div>
                <h2>Rekap Kehadiran</h2>
            </div>
            <button class="btn btn-outline" id="btn-ekspor"><i class="ph ph-download-simple"></i> Unduh Laporan
                (CSV)</button>
        </div>
        <div class="table-responsive">
            <table id="tabel-presensi">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Nama Siswa</th>
                        <th>Status</th>
                        <th style="text-align: right;">Aksi</th>
                    </tr>
                </thead>
                <tbody id="body-tabel-presensi"></tbody>
            </table>
        </div>
    </div>
</div>